<li class="">
    <a class="btn btn-danger"asp-controller="Trains" asp-action="SearchResult">SearchResult</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Trains" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Trains" asp-action="SearchWithDynamics">SearchWithDynamics</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Trains" asp-action="DynamicSQLInStoredProcedure">DynamicSQLInStoredProcedure</a>
</li>